/* Animación de latido */
@keyframes heartbeat {
    0% {
      transform: scale(1); /* Escala normal */
    }
    50% {
      transform: scale(1.2); /* Escala más grande a la mitad de la animación */
    }
    100% {
      transform: scale(1); /* Escala normal */
    }
  }
  