
@font-face {
    font-family: $font-family-mi-tipografia;
    src: url('../Tipografia_Oddlini/oddlini-light-semi-expanded.ttf') format('truetype');
  }
  
  @font-face {
    font-family: $font-family-mi-tipografia-bold;
    src: url('../Tipografia_Oddlini/oddlini-bold-semi-expanded.ttf') format('truetype');
  }
  